* {
	box-sizing: border-box;
}

body{
    margin: 0;
    /* position: relative; */

    min-height: 100vh;
    color: #eee;
    font-family: sans-serif;
    background-image: radial-gradient(#b94bf8, #5f168a);
    background-repeat: no-repeat;
}

.grid-container{
    /* padding: 1em; */
    /* width: 100%; */
    display: grid;
    grid-gap: 0px;  
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    /* grid-template-rows: repeat(auto-fit, minmax(10px, 20px)); */
}

.grid-item{
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(3rem + 1vw);
    padding: 1.2rem 0;
    /* height: 200px; */
    height: 33.33vh;
}

